# Secrets
.env
.env.txt
.env.local
config/config.toml
*.log

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.temp

# OS generated
.DS_Store
Thumbs.db