# Secrets
.env
.env.txt
config/config.toml
*.log

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
virtualenv/

# Streamlit secrets
.streamlit/secrets.toml

# OS generated
.DS_Store
Thumbs.db