# Secrets
.env.local
config/config.toml
*.log

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
virtualenv/

# Streamlit secrets
.streamlit/secrets.toml

# OS generated
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.temp
*.sqlite3
/export/